.app {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.tariffCard {
    padding: 5px;
    margin: 10px;
    text-align: center;
}

.tariffCard div {
    border: solid 1px;
    margin: 3px;
}

.info {
    background-color: #ddd;
}

.card1 .title {
    background-color: royalblue;
}

.card2 .title {
    background-color: sandybrown;
}

.card3 .title {
    background-color: palevioletred;
}

.card4 .title {
    background-color: darkseagreen;
}

.selected {
    border: 2px solid orange;
}